* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e1e7ed;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    color: #33363b;
}

p{
    font-size: 14px;
    color: #868d9b;
}

.profile{
    width: 360px;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.profile_img {
    width: 120px;
    height: 120px;
    background-color: #bbc9e4;
    background: url("/projectGroup14/image/userv1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid #ffffff;
    border-radius: 120px;
    margin: 0 auto;
    margin-top: -60px;

}

.profile_background_img {
    width: 100%;
    height: 180px;
    background-color: #e1e7ed;
    background: url("/projectGroup14/image/bgUser.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.user_info p {
    margin-bottom: 20px;
    margin-top: -5px;
}

.user_info h3 {
    margin-top: 10px;
}

.profile_count {
    padding: 30px;
    border-top: 1px solid #dde1e7;
}

.count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}

.count p {
    margin-top: -10px;
}

.h2-1{
    font-size:x-large;
    margin-top: 7px;
}
